<div class="container">
    <p>
        <mat-toolbar>
          <span>Registrar Horas Extras</span>
        </mat-toolbar>
      </p>
      <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>tomas</td>
            <td>gomez</td>
            <td>4544446</td>
            <td>250</td>
          </tr>
          <tr>
            <td>tomas</td>
            <td>gomez</td>
            <td>4544446</td>
            <td>250</td>
          </tr>
          <tr>
            <td>tomas</td>
            <td>gomez</td>
            <td>4544446</td>
            <td>250</td>
          </tr>
        </tbody>
      </table>
</div>
