.body{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url('src/assets/img/ima.png') ;
    background-repeat: no-repeat;
    background-size: 2200px;
    background-position: center;
}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.ancho{
    width: 100%;
}
.button{
    height: 50px;
}
.spinner{
    margin: 0 auto;
}