html {
    font-size: 62.5%; /** Resets para REMS - 62.5% = 10px de 16 px **/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 250, 146);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
  }
  
  nav{
      float: left;
      text-align: center;
      width: 100%;
    }
    
    nav li{
      display: inline-block;
      padding-left: 25px;
    }
    
    nav a{
      color: #252525;
      text-decoration: none;
      font-weight: bold;
      padding: 15PX 5PX 15PX;
      font-weight: bold;
    }
    .logo{
      float: left;
    }
    .logo img{
      height: 120px;
      width: 200px;
  
    }
    .cerrar{
        text-align: center;
        background-color: #bbbbbb;
        width: 15%;
        border: 5px solid rgb(255, 69, 45);
        border-radius: 16px;
      }

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem; /** 1200px **/
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 800px;
}

@media (min-width: 8px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}
@media (min-width: 400px ) {
    .icono{
    flex-basis: calc(33.3% - 1rem);
    }
}


@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 3rem 0; 
}