<div class="container">
    <p>
        <mat-toolbar>
          <span>Aceca de</span>
        </mat-toolbar>
      </p>

</div>

<body>
    <main class="contenedor">
        <br>
        <h1 class="fw-300 centrar-texto"> <b>Conoce sobre la pagina web</b> </h1>
 
        <div class="contenido-nosotros">
            <div class="imagen">
                <img src="./assets/img/logo.png" alt="imagen">
            </div>
            <div class="texto-nosotros">
                <hr><br>
                <blockquote>Detalle</blockquote>
                 <p>Esta es una pagina web creada para la gestion de horas extras para el personal de la Uleam.
                 </p>
                 <p> En dicha pagina se podra hacer lo que es:calcular las horas extras por dias del personal, agregar mas personas, registrar las horas extras, entre otras cosas.
                 </p>
            </div>
        </div>
    </main>
 </body>
 