<body>
    <div class="container">
        <p>
            <mat-toolbar>
              <span>Lista de Horas Extras</span>
            </mat-toolbar>
          </p>
          <button mat-fab extended color="primary" routerLink="/dashboard/crear-registro"><mat-icon>add</mat-icon>
            Registrar Hora Extra
            </button> 
    <br>
    <hr>
          <table class="table table-striped mt-5">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Hora Extras realizadas</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let horas of horas">
                    <td>{{ horas.nombre }}</td>
                    <td>{{ horas.apellido }}</td>
                    <td>{{ horas.documento }}</td>
                    <td>{{ horas.horaextra }}</td>
                  </tr>
            </tbody>
          </table>
    </div>
</body>
