<div class="container">
    <p>
        <mat-toolbar>
          <span>Calcular Horas Extras</span>
        </mat-toolbar>
      </p>

</div>
<body>

    <main>
        <form>
          <div class="div">
            <label for="horas"><h1> <b>Horas</b> </h1></label>
            <input  type="text"  name="horas" id="horas" class="entrada"  autocomplete="off"/>
          </div>
          <hr />
          <div class="div">
            <label for="dias"> <h1><b>Dias</b></h1> </label>
            <input  type="text" name="dias" id="dias" class="entrada" autocomplete="off" />
          </div>
          <button type="submit" id="btn" (click)="calcula()">Calcular</button>
    <hr>
        </form>
      
          
      </main>   

</body>

