table {
    width: 95%;
    border: 1px solid rgb(23, 118, 181);
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 50px;

 }
 th, td {
    width: 15%;
    text-align: center;
    vertical-align:top;
    border: 1px solid rgb(23, 111, 200);
    border-collapse: collapse;
    padding: 10px;
    caption-side: bottom;
 }
th{
    color: rgb(8, 8, 8);
    font-size: 17px;
    background: rgb(94, 218, 255);
}
body{
    background-image: url('src/assets/img/fondo.jpg');
}